/* INÍCIO DAS CONFIGURAÇÕES DE RESPONSIVIDADE */

/* Configurações em laptops */
@media(max-width: 1740px) {/* Coloca o valor de largura máximo */
    div#dados {
        height: 70%;
    }

    div#conteudo-dados {
        background-color: rgba(56, 56, 56, 0.63);
        width: 55%;
    }

    div#conteudo-dados h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    div#conteudo-dados p {
        color: white;
    }
}

/* Configurações em tablets */
@media(max-width: 1100px) {
    div#container-ad {
        height: 10%;
    }

    div#itens {
        height: 100%;
        width: 90%;
    }

    div#itens button {
        height: 80%;
        font-size: 2em;
    }

    div#user {
        font-size: 1.8em;
    }

    header#navigation {
        height: 32%;
        border-width: 1px 0px 1px 0px;
    }

    div#container-header-info {
        font-size: 1vw;
        flex-direction: row;
        justify-content: unset;
        gap: 20px;
    }

    div#bot-info h1{
        font-size: 6vw;
    }

    div#bot-info img{
        padding-right: 20px;
        width: 40px;
        height: 40px;
    }

    div#container-header-info nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }

    div#container-header-info nav select{
        width: 100%;
        font-size: 2em;
    }

    div#container-header-info nav button{
        width: 100%;
        font-size: 2em;
    }

    button#premium {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    button#premium img {
        height: 30px;
    }

    div#dados {
        height: 90%;
        width: 90%;
        justify-content: center;
    }

    div#conteudo-dados {
        width: 100%;
    }

    div#conteudo-dados h1 {
        font-size: 5vw;
    }

    div#conteudo-dados p {
        font-size: 2.5vw;
    }

    div#container-btn button {
        font-size: 2em;
        margin: 20px;
    }

    button#btn-discord {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    button#btn-discord img {
        height: 35px;
    }

    footer {
        height: 30%;
        font-size: 1.5em;
    }

    div#container-imagens img {
        height: 60px;
    }

    @media(max-width: 1000px) {
        div#dados {
            height: 95%;
            width: 95%;
        }

        div#itens {
            height: 100%;
            width: 100%;
        }
    }

    @media(max-width: 800px) { /*Em dispositivos menores*/
        div#container-ad {
            display: none;
        }

        header#navigation {
            height: 40%;
            font-size: 2vw;
        }

        div#container-header-info {
            font-size: 2vw;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        div#container-header-info nav{
            gap: 5px;
        }

        div#container-header-info nav select {
            width: 300px;
        }

        section#container-dados {
            height: 120%;
        }

        div#conteudo-dados h1 {
            font-size: 2em;
        }

        div#conteudo-dados p {
            font-size: 4vw;
        }

        div#container-btn {
            font-size: 1.8vw;
        }

        div#container-btn button {
            height: 80px;
            width: 80%;
        }

        footer {
            font-size: 1em;
            display: flex;
            height: 40%;
        }

        div#container-imagens img{
            height: 30px;
        }
    }
}
/* Fim das configurações de responsividades */