@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fonte-titulo: "Roboto", Arial, sans-serif;
    --fonte-padrao: "Inter", Verdana, sans-serif;
}

body, html {
    height: 100%;

}

h1, h2 {
    font-family: var(--fonte-titulo);
    color: white;
}

p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

div#container-ad {
    height: 8%;
    background-color: pink;
    display: flex;
    align-items: center;
}

div#itens {
    background-color: rgb(248, 140, 140);
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-size: 0.7em;
}

div#itens button {
    font-family: var(--fonte-titulo);
    font-weight: bold;
    color: purple;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px;
}

div#itens img {
    height: 20px;
}

div#user {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;

}

div#user img{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    border: 4px solid black;
}

header#navigation {
    background-color: rgb(66, 66, 104);
    height: 12%;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#bot-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

div#bot-info img {
    height: 24px;
    width: 24px;
}

section#container-dados {
    background-color: blueviolet;
    height: 85%;
    width: 100%;
    position: relative;
}

div#dados {
    display: flex;
    background-color: rgb(153, 153, 17);
    text-align: left;

    height: 50%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

div#conteudo-dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-left: 250px;
}

div#conteudo-dados h1{
    font-size: 3em;
    font-weight: 700;
}

div#container-btn {
    display: flex;
    gap: 10px;
}

button#btn-discord {
    background-color: lightblue;
    color: white;
    gap: 5px;
}

button.btn-dados {
    border: none;
    display: flex;
    padding: 10px;
}

footer {
    height: 130px;
    background-color: rgb(31, 31, 31);
    color: white;
}

div#footer-item {
    width: 80%;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
}

div#footer-item  h2{
    margin: 10px 0;
    font-size: 2em;
}