/* INÍCIO DAS IMPORTAÇÕES DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* FIM DAS IMPORTAÇÕES DE FONTE */

/* Configurações de Raiz */
:root {
    --fonte-esp: "Roboto", sans-serif;
    --fonte-btn: "Roboto Condensed", sans-serif;
    --fonte-padrao: "Inter", Verdana, sans-serif;
}

/* Configurações de corpo e html */
body, html {
    height: 100%;
    font-size: 1em;
}

/* Configurações Básicas de H1 E H2 */
h1, h2 {
    font-family: var(--fonte-esp);
    color: white;
}

/* Configurações de parágrafo */
p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}

p > strong > a {
    text-decoration: underline;
}

/* Configurações gerais de botão */
button {
    font-family: var(--fonte-btn);
    font-weight: bold;
    border: none;
    background-color: white;
    border-radius: 5px;
}

/* Configurações de pseudo-classe do button */
button:hover, select:hover {
    cursor: pointer;
}

/* CONFIGURAÇÃO das IMAGENS que necessitam da inversão de cor */
/* Fazer MODIFICAÇÕES DE GLOW NAS IMAGENS */
img.brilho {
    filter: invert(100);
}

/* INÍCIO DAS CONFIGURAÇÕES DE CONTAINER-AD */
/* Configurações da aba de AD do site */
div#container-ad {
    height: 8%;
    background-image: linear-gradient(to right, #AD25E6, #E629D9, #E35282, #E488A6);
    display: flex;
    align-items: center;
}

/* Configurações de hover da área de ad */
div#container-ad:hover {
    cursor: pointer;
}

/* Configurações dos itens dentro do container ad */
div#itens {
    background-color: rgba(248, 140, 140, 0);
    width: 60%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-size: 0.7em;
}

/* Configurações do botão dentro dos itens */
div#itens button {
    width: 300px;
    color: #E35282;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5em;
    padding: 9px;
}

/* Configurações da imagem de brilho do AD */
img.spark {
    width: 20px;
    filter: drop-shadow(1px 1px 2px #000000) invert(100);
}

/* Configurações de imagem de brilho e de usuário do ad */
div#itens img {
    height: 20px;
    padding-right: 2px;
}

/* DIV que contem as imagens de usuário */
div#user {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

/* Configurações de imagem dos usuários */
div#user img{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    border: 4px solid black;
}
/* FIM DAS CONFIGURAÇÕES DE AD DO SITE */

/* INÍCIO DAS CONFIGURAÇÕES DA HEADER */
/* Configuração da HEADER como um todo */
header#navigation {
    font-family: var(--fonte-padrao);
    background-color: #141414;
    height: 9%;
    
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: white;
}

/* Configurações da área de info do header */
div#container-header-info {
    height: 100%;
    width: 80%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

/* Configurações gerais dos selects */
div#container-header-info > nav select {
    width: 120px;
    height: 40px;

    text-align: center;
    font-weight: bold;
    font-size: 1em;
    background-color: rgba(240, 248, 255, 0);
    color: lightgray;
    border: none;
}

/* Configurações dos botões da header */
div#container-header-info > nav button {
    font-weight: bold;
    font-size: 1.1em;
    padding: 9px;
    margin: 0 8px;
}

/* Configurações do botão amarelo da header */
button#premium {
    color: rgb(224, 204, 21);
    background-color: rgba(224, 169, 18, 0.527);
    transition: background-color 0.25s;
}

button#premium:hover {
    background-color: rgba(170, 134, 35, 0.596);
}

/* Configurações do botão azul da header */
button#discord {
    background-color: #5FB1DD;
    color: white;
    transition: background-color 0.25s;
}

/* Configurações de pseudo-classe do botão azul */
button#discord:hover {
    background-color: #0076FF;
}

/* Configurações da parte de info do BOT, img e h1 */
div#bot-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Configurações da área de img */
div#bot-info img {
    height: 24px;
    width: 24px;
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0)) invert(100);
    transition: transform 1s;
}

div#bot-info img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

/* Configurações de h1 */
div#bot-info h1 {
    font-size: 2.3em;
    letter-spacing: 1px;
    font-weight: 800;
    transition: text-decoration 0.5s;
}

/* Configuração da pseudo-classe do h1 */
div#bot-info h1:hover {
    text-decoration: underline;
}
/* FIM DA CONFIGURAÇÃO DA HEADER */

/* INÍCIO DA CONFIGURAÇÃO DA SECTION, que posteriormente terá o img  */
section#container-dados {
    background-color: blueviolet;
    background-image: url('../imagens/fundo.jpg');
    background-size: cover;
    background-position: left center;

    height: 85%;
    width: 100%;
    position: relative;
}

/* Configurações do bloco de conteúdo*/
div#dados {
    display: flex;
    justify-content: end;

    /* Configurações de centralização e dimensão */
    height: 50%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* Configurações QUE CONTEM DADOS, h1, p e div de buttons */
div#conteudo-dados {
    width: 40%;
    background-color: rgba(73, 73, 73, 0.301);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
}

/* Configurações de h1 */
div#conteudo-dados h1{
    margin: auto;
    font-size: 3.3em;
    letter-spacing: 1px;
    font-weight: 700;
}

/* Configuração do parágrafo de conteúdo */
div#conteudo-dados p {
    display: inline-block;
    width: 80%;
    color: rgb(197, 197, 197);
    margin: auto;
    text-align: justify;
    font-size: 1em;
}

/* Configurações da área de botões */
div#container-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Configurações dos botões */
div#container-btn button {
    width: 220px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;

    transition: background-color 0.25s;
}

button#rsc-btn:hover {
    background-color: gainsboro;
}

/* Configurações do botão do discord */
button#btn-discord {
    background-color: #5FB1DD;
    color: white;
    gap: 5px;
}

/* Configurações da pseudo classe do botão discord */
button#btn-discord:hover {
    background-color: #0076FF;
}
/* FIM DAS CONFIGURAÇÕES DA PARTE DE SECTON DADOS */

/* INÍCIO DAS CONFIGURAÇÕES DE FOOTER */
footer {
    height: 130px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: white;
    background-color: #141414;
    color: white;
}

/* Configurações do conteúdo do footer */
div#footer-item {
    width: 80%;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
}

/* Configurações do h2 do footer */
div#footer-item  h2{
    margin: 10px 0;
    font-size: 2em;
}